<html layout:decorate="~{/common/layout}">
<div layout:fragment="content" class="container my-3">
    <h2 class="border-bottom py-2" th:text="${review.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:text="${review.content}"></div>
            <div class="d-flex justify-content-end">
                <!-- 댓글 작성자 및 작성일 표시 -->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${review.author != null}" th:text="${review.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <!-- 댓글 수정 및 삭제 링크 -->
                <a th:href="@{|/review/modify/${review.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()" th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/review/delete/${review.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:text="삭제"></a>
            </div>
            <div class="mt-3" th:if="${not #lists.isEmpty(review.commentList)}">
                <div th:each="comment,index : ${review.commentList}" class="comment py-2 text-muted">
                    <span style="white-space: pre-line;" th:text="${comment.content}"></span>
                    <span th:if="${comment.modifyDate != null}"
                          th:text="| - ${comment.author.username}, ${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')} (수정: ${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')})|"></span>
                    <span th:if="${comment.modifyDate == null}"
                          th:text="| - ${comment.author.username}, ${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
                    <!-- 댓글 수정 및 삭제 링크 -->
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
                       th:href="@{|/comment/modify/${comment.id}|}" class="small">수정</a>,
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.getPrincipal().getUsername() == comment.author.username}"
                       href="javascript:void(0);" class="small delete" th:data-uri="@{|/comment/delete/${comment.id}|}">삭제</a>
                    <!-- 대댓글 목록 -->
                    <div th:if="${comment != null and not #lists.isEmpty(comment.children)}" class="ml-3">
                        <div th:each="reply : ${comment.children}" class="comment py-2 text-muted">
                            <span style="white-space: pre-line;" th:text="${reply.content}"></span>
                            <!-- (수정) 표시 -->
                            <span th:if="${reply.modifyDate != null}"
                                  th:text="| - ${reply.author.username}, ${#temporals.format(reply.createDate, 'yyyy-MM-dd HH:mm')} (수정: ${#temporals.format(reply.modifyDate, 'yyyy-MM-dd HH:mm')})|"></span>
                            <!-- 작성일자 표시 -->
                            <span th:if="${reply.modifyDate == null}"
                                  th:text="| - ${reply.author.username}, ${#temporals.format(reply.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
                            <!-- 대댓글 수정 및 삭제 링크 -->
                            <a sec:authorize="isAuthenticated()"
                               th:if="${#authentication.getPrincipal().getUsername() == reply.author.username}"
                               th:href="@{|/comment/modify/${reply.id}|}" class="small">수정</a>,
                            <a sec:authorize="isAuthenticated()"
                               th:if="${#authentication.getPrincipal().getUsername() == reply.author.username}"
                               href="javascript:void(0);" class="small delete"
                               th:data-uri="@{|/comment/delete/${reply.id}|}">삭제</a>
                            <!-- 대댓글의 대댓글 목록 -->
                            <div th:if="${reply != null and not #lists.isEmpty(reply.children)}" class="ml-3">
                                <div th:each="subReply : ${reply.children}" class="comment py-2 text-muted">
                                    <span style="white-space: pre-line;" th:text="${subReply.content}"></span>
                                    <!-- (수정) 표시 -->
                                    <span th:if="${subReply.modifyDate != null}"
                                          th:text="| - ${subReply.author.username}, ${#temporals.format(subReply.createDate, 'yyyy-MM-dd HH:mm')} (수정: ${#temporals.format(subReply.modifyDate, 'yyyy-MM-dd HH:mm')})|"></span>
                                    <!-- 작성일자 표시 -->
                                    <span th:if="${subReply.modifyDate == null}"
                                          th:text="| - ${subReply.author.username}, ${#temporals.format(subReply.createDate, 'yyyy-MM-dd HH:mm')}|"></span>
                                    <!-- 대댓글의 대댓글 수정 및 삭제 링크 -->
                                    <a sec:authorize="isAuthenticated()"
                                       th:if="${#authentication.getPrincipal().getUsername() == subReply.author.username}"
                                       th:href="@{|/comment/modify/${subReply.id}|}" class="small">수정</a>,
                                    <a sec:authorize="isAuthenticated()"
                                       th:if="${#authentication.getPrincipal().getUsername() == subReply.author.username}"
                                       href="javascript:void(0);" class="small delete"
                                       th:data-uri="@{|/comment/delete/${subReply.id}|}">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{|/comment/create/review/${review.id}/${comment.id}|}" class="small"><small>대댓글 추가 ..</small></a>
                </div>
            </div>
        </div>
        <a th:href="@{|/comment/create/review/${review.id}|}" class="small"><small>댓글 추가 ..</small></a>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
          if(confirm("정말로 삭제하시겠습니까?")) {
              location.href = this.dataset.uri;
          };
      });
  });

</script>
</html>
